PORT =8000
MONGODB_URI=mongodb+srv://rjn1032:rajan1234@system.2xe4byb.mongodb.net/?retryWrites=true&w=majority&appName=system
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=system-code-gym
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET =system-code-system
REFRESH_TOKEN_EXPIRY=10d  